src/main/resources/edu/uga/miage/m1/polygons/shema/schemaShapes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="shapes" type="shapesType"/>
  <xs:complexType name="shapeType">
    <xs:sequence>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="square"/>
            <xs:enumeration value="triangle"/>
            <xs:enumeration value="rectangle"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:short" name="x"/>
      <xs:element type="xs:short" name="y"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shapesType">
    <xs:sequence>
      <xs:element type="shapeType" name="shape" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>